body {
    min-height: 100vh;
}

html {
    min-height: 100vh;
}

@media (min-width: 600px) {
    .container {
        max-width: 56em;
    }
}

.editor {
    min-height: 90em;
}

.markdown {
    margin-left: 14px;
    margin-right: 14px;
}

.btn {
    margin-right: 7px;
}

.snippetOutput {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: 2px #dfdfdf solid;
    min-height: 5em;
    white-space: pre-wrap;
}

.linkButton:hover {
    cursor: pointer;
}