<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="/content/stylesheets/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="/content/stylesheets/fontawesome.6.7.2.min.css">
        <link rel="stylesheet" href="/content/stylesheets/main.css">

        <title>WebEditor - {{ display_file_path }}</title>

        <style>
            @media (max-width: 1000px) {
                .container {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        </style>
    </head>
    <body>
        <div id="root"></div>

        <!-- Bootstrap JS -->
        <script src="/content/scripts/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous">
        </script>

        <input type="hidden" id="file_path" value="{{ file_path }}" />
        <input type="hidden" id="is_read_only" value="{{ is_read_only }}" />
        <input type="hidden" id="is_standalone" value="{{ is_standalone }}" />
        <script src="/content/webeditor.js?time={{ time }}"></script>
    </body>
</html>